/* QLabel */

EntryYoutube QLabel[objectName^="label_title"] {
    font-size: 16px;
    font-weight: bold;

}

EntryYoutube QLabel[objectName^="label_date"] {
    font-size: 13px;
    font-weight: bold;
}

EntryYoutube QLabel[objectName^="label_description"] {
    font-size: 13px;
}

EntryYoutube QLabel[objectName^="label_meta_"] {
    font-size: 13px;
    font-weight: bold;
}
