MainWindow QPushButton[objectName^="pb_settings"] {
    image: url("rss_tube/gui/themes/light/settings.png");
}

MainWindow QPushButton[objectName^="pb_update_feeds"] {
    image: url("rss_tube/gui/themes/light/update_feeds.png");
}

MainWindow QPushButton[objectName^="pb_update_feeds"]:disabled {
    image: url("rss_tube/gui/themes/light/update_feeds_disabled.png");
}

MainWindow QPushButton[objectName^="pb_new_feed"] {
    image: url("rss_tube/gui/themes/light/feed_new.png");
}

MainWindow QPushButton[objectName^="pb_new_category"] {
    image: url("rss_tube/gui/themes/light/category_new.png");
}